[Unit]
Description=Sentinel NetLab Sensor
After=network-online.target syslog.target
Wants=network-online.target
ConditionPathExists=/etc/sentinel/config.yaml

[Service]
Type=simple
User=sentinel
Group=sentinel
AmbientCapabilities=CAP_NET_RAW CAP_NET_ADMIN
CapabilityBoundingSet=CAP_NET_RAW CAP_NET_ADMIN
NoNewPrivileges=true
EnvironmentFile=/etc/sentinel/env

ExecStartPre=/usr/local/bin/sentinel-ensure-monitor-mode wlan0
ExecStart=/opt/sentinel/venv/bin/python /opt/sentinel/sensor/cli.py --config /etc/sentinel/config.yaml --iface wlan0
Restart=on-failure
RestartSec=5
LimitNOFILE=4096
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
SyslogIdentifier=sentinel-sensor

[Install]
WantedBy=multi-user.target
